@page "/crear-post"

<h1 class="text-center">Crear Post</h1>

<div class="card">
	<div class="card-header">
		<div class="row">
			<div class="col-7">
				<h4 class="card-title text-dark">Nuevo de Post</h4>
			</div>
		</div>
	</div>

	<div class="card-body">
		<EditForm Model="CrearPost" OnValidSubmit="@( () => OnCreatePost() )">
			<DataAnnotationsValidator />
			<ValidationSummary />
			<div class="container">
				<div class="form-group">
					<div class="row">
						<div class="col-2">
							<label>Titulo</label>
						</div>
						<div class="col-6">
							<InputText @bind-Value="CrearPost.Titulo" class="form-control" placeholder="Ingresa el Titulo"></InputText>
							<ValidationMessage For="() => CrearPost.Titulo"></ValidationMessage>
						</div>
					</div>
				</div>
				<br />

				<div class="form-group">
					<div class="row">
						<div class="col-2">
							<label>Descripcion</label>
						</div>
						<div class="col-6">
							<InputText @bind-Value="CrearPost.Descripcion" class="form-control" placeholder="Ingresa la Descripcion"></InputText>
							<ValidationMessage For="() => CrearPost.Descripcion"></ValidationMessage>
						</div>
					</div>
				</div>
				<br />

				<div class="form-group">
					<div class="row">
						<div class="col-2">
							<label>Etiquetas</label>
						</div>
						<div class="col-6">
							<InputText @bind-Value="CrearPost.Etiquetas" class="form-control" placeholder="Ingresa las Etiquetas, separadas por comas"></InputText>
							<ValidationMessage For="() => CrearPost.Etiquetas"></ValidationMessage>
						</div>
					</div>
				</div>
				<br />

				<div class="form-group">
					<div class="row">
						<div class="col-6">
							<h4>Imagen Post</h4>
						</div>
					</div>
				</div>
				<br />

				<div class="form-group">
					<div class="row">
						<div class="col-2">
							<button type="submit" class="btn btn-success"><i class="bi bi-gear-fill"></i> Guardar</button>
						</div>
						<div class="col-6">
							<NavLink href="posts" class="btn btn-secondary"><i class="bi bi-arrow-left-circle-fill"></i>  Volver</NavLink>
						</div>
					</div>
				</div>
			</div>

		</EditForm>
	</div>
</div>